.editorContainer {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 1200px;
}

.sectionTableContainer { 
  height: 300px;
  width: 100%;
}

.sectionTable {
  height: 300px;
  width: 100%;
}

h3, ul {
  text-align: left;
}