.editorContainer {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 1200px;
}

.sectionTableContainer { 
  height: 300px;
  width: 100%;
}

.sectionTable {
  height: 300px;
  width: 100%;
}

h3, ul {
  text-align: left;
}

.sectionBox {
  color: #ffffff;
}

.textField {
  min-width: 20px;
  field-sizing: content;
  display: inline-block;
  min-width: 20px;
  padding: 7px 8px;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  border: 1px solid #9b9a9a;
  border-radius: 4px;

  &:focus {
    outline: none;
    border-color: #3f51b5;
    box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
  }
}

.container {
  min-height: 10px;
}

.sectionDescription {
  text-align: left;
}

ul {
  margin-left: 20px;
  list-style-type: circle;
}